<div class="footer">
<small>
<p>By </><A HREF="http://aaronwilson.me" target="_blank">Aaron
Wilson</A> and </><A HREF="http://www.linkedin.com/pub/joseph-schaffer/51/7/b70" target="_blank">Joe Schaffer</A>
<br>
<!--below is the Rails version of an href--> 
<img src="https://twitter.com/images/resources/twitter-bird-16x16.png">
<%= link_to "Twitter", "http://twitter.com/aarowilso" %>
</small>
</div>